footer{
  padding: 20px 0px;
  border-top: 1px solid rgb(218, 218, 218);
  .footer-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    .copyright{
      p{
        font-size: 14px;
        color: $text-color;
        font-weight: 500;
      }
    }
    .links{
      ul{
        display: flex;
        align-items: center;
        margin: 0;
        li{
          color: $text-color;
          font-size: 14px;
          font-weight: 500;
          a{
            margin-left: 5px;
            font-size: 14px;
            color: $primary;
            font-weight: 500;
            transition: .3s;
            &:hover{
              color: $text-color;
            }
          }
        }
      }
    }
  }
}
