@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Reset default styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Prosto One', cursive;
  height: 100%;
  background: url(../images/main-bg.png) no-repeat;
  background-size: cover;
  background-position: top left;
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #006699;
}

a:hover {
  text-decoration: none;
  color: #006699;
}

p {
  margin: 0;
  color: #2b2b2b;
}

/* Set headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #181818;
  margin: 0px;
}

h1 {
  font-family: 'Seymour One', sans-serif;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

/* Set lists */
ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

/* Set tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.navbar {
  z-index: 50;
  position: relative;
  padding: 15px 0px;
}

.navbar .navbar-brand {
  font-family: 'Comfortaa', cursive;
  width: 150px;
  color: #ffffff;
  font-size: 32px;
}

.navbar .navbar-nav button {
  margin: 5px;
  padding: 5px;
}

.navbar .navbar-nav button i {
  font-size: 24px;
  color: #ffffff;
}

.navbar .dropdown .dropdown-menu {
  color: #ffffff;
  width: 257px;
  background: #D0CDDE;
  background-blend-mode: overlay, normal;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 0px;
  border: 2px solid #FFFFFF;
  padding: 0px 20px;
}

.navbar .dropdown .dropdown-menu .cart .cart-top {
  padding: 20px 0px;
  border-bottom: 2px solid white;
}

.navbar .dropdown .dropdown-menu .cart .cart-top h4 {
  color: #ffffff;
  font-size: 20px;
}

.navbar .dropdown .dropdown-menu .cart .cart-body {
  padding: 20px 0px;
  border-bottom: 2px solid white;
}

.navbar .dropdown .dropdown-menu .cart .cart-body p {
  color: #ffffff;
  font-size: 15px;
}

.navbar .dropdown .dropdown-menu .cart .cart-bottom {
  padding: 5px 0px 30px;
}

.navbar .dropdown .dropdown-menu .cart .cart-bottom span {
  font-size: 13px;
}

.navbar .dropdown .dropdown-menu .cart .cart-bottom #cartTotal {
  font-size: 20px;
}

.pageInfo .jumbotron {
  margin: 0px 0px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 10px 0px 20px;
}

.pageInfo .jumbotron .page-title {
  font-size: 40px;
  color: #ffffff;
}

.home-main .product-wrapper .left-side {
  width: 40%;
}

.home-main .product-wrapper .left-side .product-video {
  display: none;
}

.home-main .product-wrapper .left-side .product-image {
  width: 40%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.home-main .product-wrapper .right-side {
  width: 60%;
  margin-top: 40px;
}

.home-main .product-wrapper .right-side .inner-wrapper {
  margin-right: 25%;
}

.home-main .product-wrapper .right-side .inner-wrapper .product-name {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 0px;
}

.home-main .product-wrapper .right-side .inner-wrapper .mobl-abBtn {
  display: none;
}

.home-main .product-wrapper .right-side .inner-wrapper .product-quantity {
  font-size: 12px;
  color: #181818;
  font-weight: 400;
  margin-bottom: 28px;
}

.home-main .product-wrapper .right-side .inner-wrapper .product-desc {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 26px;
  line-height: 25px;
}

.home-main .product-wrapper .right-side .inner-wrapper .product-price {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 36px;
}

.home-main .product-wrapper .right-side .inner-wrapper #buyBtn {
  padding: 0px 20px;
  height: 45px;
  background: #000000;
  border-radius: 9px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-bottom: 30px;
}

.home-main .product-wrapper .right-side .inner-wrapper #buyBtn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 5px 7px 10px #00000079;
          box-shadow: 5px 7px 10px #00000079;
}

#aboutUs {
  z-index: 50;
  position: fixed;
  width: 546px;
  height: 100%;
  right: -3330px;
  top: 0px;
  bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 30px 0px;
  border-left: 2px solid #ffffff;
  background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(208, 205, 222, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(208, 205, 222, 0) 100%);
  background-blend-mode: overlay, normal;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  overflow-y: auto;
}

#aboutUs.show-content {
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#aboutUs .au-header {
  padding: 20px 0px;
  border-bottom: 2px solid #ffffff;
  position: relative;
  margin-bottom: 40px;
}

#aboutUs .au-header h1 {
  font-size: 30px;
  color: #ffffff;
}

#aboutUs .au-header #closeBtn {
  position: absolute;
  top: -20px;
  right: -15px;
}

#aboutUs .au-header #closeBtn i {
  font-size: 36px;
}

#aboutUs .au-body p {
  font-size: 16px;
  color: #ffffff;
}

#aboutUs .au-bottom {
  width: 100%;
  padding: 30px 0px;
}

#aboutUs .au-bottom .navbar-brand {
  font-family: 'Comfortaa', cursive;
  width: 150px;
  color: #ffffff;
  font-size: 32px;
}

#aboutUs::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

#aboutUs::-webkit-scrollbar {
  width: 0px;
  background-color: #F5F5F5;
}

#aboutUs::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

#buyModal #modal {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#buyModal #modal.show {
  display: block;
  background: #0000006c;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#buyModal #modal .modal-dialog {
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

#buyModal #modal .modal-content {
  background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(208, 205, 222, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(208, 205, 222, 0) 100%);
  background-blend-mode: overlay, normal;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 0px;
  border: 2px solid #FFFFFF;
  padding: 0px 20px;
  width: 850px;
}

#buyModal #modal .modal-content .modal-top {
  padding: 20px 0px;
  border-bottom: 2px solid white;
  text-align: center;
  position: relative;
}

#buyModal #modal .modal-content .modal-top h4 {
  color: #ffffff;
  font-size: 30px;
}

#buyModal #modal .modal-content .modal-top #modal-close-btn {
  position: absolute;
  top: 5px;
  right: -15px;
}

#buyModal #modal .modal-content .modal-top #modal-close-btn i {
  font-size: 36px;
}

#buyModal #modal .modal-content .modal-body {
  padding: 20px 0px;
}

#buyModal #modal .modal-content .modal-body p {
  color: #ffffff;
  font-size: 16px;
}

#buyModal #modal .modal-content .modal-bottom {
  padding: 5px 0px 30px;
}

#buyModal #modal .modal-content .modal-bottom .navbar-brand {
  font-family: 'Comfortaa', cursive;
  width: 150px;
  color: #ffffff;
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
    max-height: 100%;
    min-height: 100%;
  }
  .navbar {
    padding: 20px 0px;
  }
  .navbar .navbar-nav button#aboutUsBtn {
    display: none;
  }
  .navbar .dropdown .dropdown-menu {
    color: #ffffff;
    width: 350px;
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(208, 205, 222, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(208, 205, 222, 0) 100%);
    background-blend-mode: overlay, normal;
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
  }
  .navbar .dropdown .dropdown-menu .cart .cart-body {
    padding: 40px 0px;
  }
  .pageInfo .jumbotron {
    margin: 0px 0px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 10px 0px 15px;
  }
  .pageInfo .jumbotron .page-title {
    font-size: 26px;
    color: #ffffff;
  }
  .home-main .product-wrapper .flex-div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-main .product-wrapper .left-side {
    width: 100%;
  }
  .home-main .product-wrapper .left-side .product-image {
    display: none;
  }
  .home-main .product-wrapper .left-side .product-video {
    display: block;
    width: 100%;
  }
  .home-main .product-wrapper .right-side {
    margin-top: -50px;
    padding: 30px 5%;
    width: 100%;
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(208, 205, 222, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(208, 205, 222, 0) 100%);
    background-blend-mode: overlay, normal;
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
  }
  .home-main .product-wrapper .right-side .inner-wrapper {
    margin-right: 0%;
    position: relative;
  }
  .home-main .product-wrapper .right-side .inner-wrapper .mobl-abBtn {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
  }
  .home-main .product-wrapper .right-side .inner-wrapper .mobl-abBtn i {
    font-size: 24px;
    color: #ffffff;
  }
  .home-main .product-wrapper .right-side .inner-wrapper .product-name {
    font-size: 30px;
  }
  .home-main .product-wrapper .right-side .inner-wrapper .product-desc {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 36px;
    line-height: 25px;
  }
  .home-main .product-wrapper .right-side .inner-wrapper .product-price {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 36px;
  }
  #aboutUs {
    z-index: 50;
    position: fixed;
    width: 90%;
    height: 90%;
    right: -3330px;
    top: 30px;
    bottom: 0;
    -webkit-transition: 1s;
    transition: 1s;
    padding: 30px 0px;
    border: 2px solid #ffffff;
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(208, 205, 222, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(208, 205, 222, 0) 100%);
    background-blend-mode: overlay, normal;
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    overflow-y: auto;
  }
  #aboutUs.show-content {
    right: 20px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #aboutUs .au-header {
    padding: 0px 0px 10px;
    border-bottom: 2px solid #ffffff;
    position: relative;
    margin-bottom: 30px;
  }
  #aboutUs .au-header h1 {
    font-size: 30px;
    color: #ffffff;
  }
  #aboutUs .au-header #closeBtn i {
    font-size: 26px;
  }
  #aboutUs .au-body p {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  #aboutUs .au-bottom {
    width: 100%;
    padding: 30px 0px;
  }
  #aboutUs .au-bottom .navbar-brand {
    font-family: 'Comfortaa', cursive;
    width: 150px;
    color: #ffffff;
    font-size: 32px;
  }
  #aboutUs::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  #aboutUs::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
  }
  #aboutUs::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
  #buyModal #modal .modal-content {
    width: 350px;
  }
  #buyModal #modal .modal-content .modal-top #modal-close-btn {
    position: absolute;
    top: 5px;
    right: -15px;
  }
  #buyModal #modal .modal-content .modal-top #modal-close-btn i {
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */